mixin default(card, descriptions, tools)
  div.card(class=card.category, style="display:none;")
    div.card-header
      span.card-header-name=card.name
      span.card-header-tools
        i.fa.fa-minus-square-o(aria-hidden="true", onclick="deleteCard(this)")
        i.fa.fa-pencil(aria-hidden="true", onclick="editCard(this)")
        i.fa.fa-info-circle(aria-hidden="true", onclick="infoCard(this)")
          input(class=card.name, type="hidden", value=description[card.name])
    div.card-body!=tools.newlineParse(card.content)

  mixin variable(card, descriptions, tools)
    div.card(class=card.category, style="display:none;")
      div.card-header
        span.card-header-name=card.name
        span.card-header-tools
          i.fa.fa-minus-square-o(aria-hidden="true", onclick="deleteCard(this)")
          i.fa.fa-info-circle(aria-hidden="true", onclick="infoCard(this)")
            input(class=card.name, type="hidden", value=description[card.name])
      div.card-body
        div.row.not(style="padding-top: 20px") 
          div.col-xs-6(style="text-align:center;padding: 0 30px;") Measurement
          div.col-xs-6(style="text-align:center;padding: 0 30px;") Unit
        div.row.not
          div.col-xs-6(style="text-align:center;padding: 0 30px;font-size:28px;")!=tools.newlineParse(card.content)
          div.col-xs-6(style="text-align:center;padding: 0 30px;font-size:28px;")="Hello!"
